In [4]:
import psycopg2
import pandas as pd
import numpy as np
import traceback
import request_apidae as rp
from sqlalchemy import create_engine
import apidae_extraction as apex  # my function

def connect():
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        conn = psycopg2.connect(host = "localhost",
                                dbname = "cooool",
                                user = "toooo",
                                password = "goooo",
                                port = "5432")

        print('Connecting to the PostgreSQL database...')

    except Exception:
            print("I am unable to connect to the database")
            print(Exception)
    
    return conn
 #"""
   # DROP TABLE CoolToGo;
   # """
    ,
drops = (
    """
    CREATE TABLE IF NOT EXISTS CoolToGo (
        id SERIAL PRIMARY KEY,
        Lieu_Event TEXT,
        Names TEXT,
        Types TEXT,
        Latitude FLOAT,
        Latitude FLOAT,
        Adresse1 VARCHAR(50),
        Adresse2 VARCHAR(50),
        Code_postal INTEGER,
        Ville TEXT,
        Description_Teaser VARCHAR(60),
        Description_ VARCHAR(60),
        Images VARCHAR(50),
        Publics VARCHAR(20),
        Categories VARCHAR(40),
        Accessibilité BOOL,
        Payant BOOL,
        Plus_d_infos_et_horaires VARCHAR(60),
        Date_début DATE,
        Date_fin DATE
    )
    """)
def query(conn,requete):
    """ Curseur """
    cur = conn.cursor()
    cur.execute(requete)

def query_params(conn,requete,params):
    cur = conn.cursor()
    cur.execute(requete,params)

def insert_data(conn):

    df = apex.retrieve_data_by_id(apex.project_ID,apex.api_KEY,apex.select_id)
    engine = create_engine('postgresql://toooo:goooo@localhost:5432/cooool')
    df.to_sql('CoolToGo', engine)

    #dvf = df[['id','Lieu_Event','Names','Types','Latitude','Longitude','Adresse1','Adresse2','Code_postal','Ville','Description_Teaser','Description_','Images','Publics','Categories','Accessibilité','Payant','Plus_d_infos_et_horaires','Date_début','Date_fin']]

    #dvf = dvf.replace({"latitude":{r"^(-?\d{1,2}),(\d+)$":r"\1.\2"},"longitude":{r"^(-?\d{1,2}),(\d+)$":r"\1.\2"}},regex=True)

    #dvf = dvf.astype({"latitude":"float32","longitude":"float32"},errors="ignore")        

    #sql_1 = "INSERT INTO CoolToGo (id,Lieu_Event,Names,Types,Latitude,Longitude,Adresse1,Adresse2,Code_postal,Ville,Description_Teaser,Description_,Images,Publics,Categories,Accessibilité,Payant,Plus_d_infos_et_horaires,Date_début,Date_fin) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

if __name__== "__main__":
    with connect() as conn:
        for value in drops:
            query(conn,value)
        conn.commit() 
        try:
            insert_data(conn)
            conn.commit()
            mj.get_all_meteojob(True)
        except Exception as e:
            print(traceback.format_exc())
        finally:
            conn.commit()

I am unable to connect to the database
<class 'Exception'>

AttributeError: __enter__